### Intro to Jupyter Notebooks and Quick Python Warmup

### University of Virginia
### DS 5559: Big Data Analytics
### Last Updated: Sep 13, 2019

#### Welcome to this short assignment where you will demonstrate basic Jupyter notebook knowledge and do a quick Python warmup!

**Total points: 8**

1) (1 PT) First, rename this notebook to JupyterTutorial_[your_initials], where you will enter your initials in place of [your_initials].

2) (1 PT) In the cell below, enter a list of data science topics you find interesting.  Use the markdown style (you will need to change the style from the Code style).

3) (1 PT) In the cell below, enter the following Python list:  

some_vals = [1, 6, 10, 55]  

You will use the Code style, and run the cell.

4) (1 PT) Next, use a list comprehension to return a filtered list containing only the values greater than 6.  
Call this list *some_vals_filtered* and print it. You can chain multiple commands on a single line like this:

In [5]:
x = 3; z = x + 1; z

4

Next, a small pandas dataframe is constructed.

In [7]:
import pandas as pd

df = pd.DataFrame({'first_name': ['Andy','Crystal'],
                   'domain_facebook' : [1,1],
                   'domain_foursquare' : [0,0],
                   'age' : [20, 32]})
df

  first_name  domain_facebook  domain_foursquare  age
0       Andy                1                  0   20
1    Crystal                1                  0   32

5) (1 PT) In the cell below, write a list comprehension that returns the fields names in the dataframe `df` containing the string *domain*.  Run the cell to verify the correct result.

6) (1 PT) Use the list comprehension from (5) to index into `df` and show the data for columns containing *domain*

7) (1 PT) In the cell below, print the *domain_facebook* column

8) (1 PT) In the cell below, print the row with index 1.