# Homework 2: Bayes Optimal Classifiers

- Name: Congxin (David) Xu
- Computing ID: cx2rx

### Honor Pledge: 
I have neither given nor received aid on this assignment.

### Question 1
The authors in [1] describe a marketing campaign by a bank in Portugal. Modify the `Exercise3.2LDAQDA_IrisSoution` python code to use the data (`bank-full.csv`) from this marketing campaign with only the predictor variables age, balance, and duration and the response variable, y, to create the Bayes optimal  classifiers for each of the conditions listed below. Provide your python code for each of these cases.

(a) Assume Gaussian class conditional likelihoods with unequal  variance-covariance matrices with each of the following additional assumptions
applied singularly to each decision rule in this class:

   - Equal class priors and equal costs for misclassification;
   - The prior for not selecting the new bank service is 0.9 and misclassification costs are equal; and
   - The prior for not selecting the new bank service is 0.9 and the cost of classifying a customer as not a new service candidate when they are is 15 times the cost of classifying a customer as a new service customer

In [1]:
import pandas as pd
import numpy as np

In [5]:
# Read in the data
data = pd.read_csv("bank-full.csv")
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no