# Lab Assignment 3: How to Load, Convert, and Write JSON Files in Python
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

## Problem 0
Import the following libraries:

In [1]:
import numpy as np
import pandas as pd
import requests
import json
import sys
sys.tracebacklimit = 0 # turn off the error tracebacks

## Problem 1 
JSON and CSV are both text-based formats for the storage of data. It's possible to open either one in a plain text editor. Given this similarity, why does a CSV file usually take less memory than a JSON formatted file for the same data? Under what conditions could a JSON file be smaller in memory than a CSV file for the same data? (2 points)

- Why does a CSV file usually take less memory than a JSON formatted file for the same data?
    - Because we need a pair of key-value to represent 1 data point in a equivalent CSV file. The `key` will be a character string that is going to be replicated multiple times. That will take up a lot of memory. For example, in the JSON file provided in the link in Problem 2, we can see "type" and "name" repeatedly. In a CSV file, "type" and "name" will show up only once in the column names and that is it.
- Under what conditions could a JSON file be smaller in memory than a CSV file for the same data?
    - If we have a multi-layer nested JSON file with few key-value pairs under each nest, tabulating the same information in a CSV file will require more memory.

## Problem 2
NASA has a dataset of all meteorites that have fallen to Earth between the years A.D. 860 and 2013. The data contain the name of each meteorite, along with the coordinates of the place where the meteorite hit, the mass of the meteorite, and the date of the collison. The data is stored as a JSON here: https://data.nasa.gov/resource/y77d-th95.json

Look at the data in your web-browser and explain which strategy for loading the JSON into Python makes the most sense and why. 

Then write and run the code that will work for loading the data into Python. (2 points)

In [19]:
tmp = requests.get("https://data.nasa.gov/resource/y77d-th95.json")
tmp = json.loads(tmp.text)
data2 = pd.json_normalize(tmp, max_level=1)
data2.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,"[-64.95, -33.16667]",NaN,NaN

## Problem 3
The notebook for this module shows, as an example, how to pull data in JSON format from Reddit's top 25 posts on [/r/popular](https://www.reddit.com/r/popular/top/). The steps outlined there pull all of the features in the data into the dataframe, resulting in a dataframe with 172 columns. 

If we only wanted a few features, then looping across elements of the JSON list itself and extracting only the data we want may be a more efficient approach.

Use looping - and not `pd.read_json()` or `pd.json_normalize()` - to create a dataframe with 25 rows (one for each of the top 25 posts), and only columns for `subreddit`, `title`, `ups`, and `created_utc`. The JSON file exists at http://www.reddit.com/r/popular/top.json, and don't forget to specify `headers = {'User-agent': 'DS6001'}` within `requests.get()`. (3 points)

In [54]:
url = 'http://www.reddit.com/r/popular/top.json'
reddit = requests.get(url, headers = {'User-agent': 'DS6001'})
reddit_json = json.loads(reddit.text)
reddit_json = reddit_json['data']['children']

In [55]:
users_df = pd.DataFrame(
    [u['data']['subreddit'], \
     u['data']['title'], \
     u['data']['ups'],  \
     u['data']['created_utc']] for u in reddit_json
)
users_df.columns = ['subreddit', 'title', 'ups', 'created_utc']
users_df

,subreddit,title,ups,created_utc
0,interestingasfuck,An interesting example of reinforcement learning,146973,1.600031e+09
1,memes,Wait... I can get hit and not die?,122138,1.600077e+09
2,memes,Helicopter goes brrrr,134139,1.600091e+09
3,aww,Ninja Turtle,113605,1.600050e+09
4,pics,Our jellybean crop is coming in nicely this year,111868,1.600041e+09
5,funny,Cat in a doll house,104594,1.600040e+09
6,memes,Feeling old yet??,95986,1.600063e+09
7,memes,My parent's rich bois,97001,1.600075e+09
8,TIHI,"Thanks, I hate sex in the 19th century",93018,1.600031e+09
9,nextfuckinglevel,It's all about training and practising hard,95578,1.600083e+09
10,memes,Pinks dissapointment is immesurable,90031,1.600068e+09
11,aww,Platform 9 3/4 to dogwartz,86798,1.600080e+09
12,pics,New work completed. Have a great week everyone!,93139,1.600088e+09
13,todayilearned,TIL that Ted Kaczynski (better known as the Un...,84511,1.600036e+09
14,dankmemes,"Please, let me be a dinosaur",86773,1.600083e+09
15,teenagers,"College Life, here I come !",79051,1.600042e+09
16,memes,A rebellion I can get behind,77989,1.600038e+09
17,mildlyinteresting,This Tibetan Cherry tree at my local park look...,77704,1.600048e+09
18,nextfuckinglevel,Listen to 3 year old's emergency call saves he...,77131,1.600039e+09
19,pics,This breast feeding mother was asked to cover ...,77793,1.600079e+09
20,PublicFreakout,"Spin it out, out out out!",77048,1.600045e+09
21,gaming,Daedric Gods,76747,1.600040e+09
22,dankmemes,Quite anticlamactic,76755,1.600069e+09
23,todayilearned,"TIL of Martin Pistorius, a man who fell into a...",78743,1.600087e+09
24,funny,In our head it was spectacular,70977,1.600074e+09

## Problem 4
The NBA has saved data on all 30 teams' shooting statistics for the 2014-2015 season here: https://stats.nba.com/js/data/sportvu/2015/shootingTeamData.json. Take a moment and look at this JSON file in your web browser. The structure of this particular JSON is complicated, but see if you can find the team-by-team data. In this problem our goal is to use `pd.json_normalize()` to get the data into a dataframe. The following questions will guide you towards this goal.

### Part a
Download the raw text of the NBA JSON file and register it as JSON formatted data in Python's memory. (2 points)

### Part b
Describe, in words, the path that leads to the team-by-team data. (2 points)

### Part c
Use the `pd.json_normalize()` function to pull the team-by-team data into a dataframe. This is going to be tricky. You will need to use indexing on the JSON data as well as the `record_path` parameter. 

If you are successful, you will have a dataframe with 30 rows and 33 columns. The first row will refer to the Golden State Warriors, the second row will refer to the San Antonio Spurs, and the third row will refer to the Cleveland Cavaliers. The columns will only be named 0, 1, 2, ... at this point. (4 points)

### Part d
Find the path that leads to the headers (the column names), and extract these names as a list. Then set the `.columns` attribute of the dataframe you created in part c equal to this list. The result should be that the dataframe now has the correct column names. (3 points)

## Problem 5
Save the NBA dataframe you extracted in problem 4 as a JSON-formatted text file on your local machine. Format the JSON so that it is organized as dictionary with three lists: `columns` lists the column names, `index` lists the row names, and `data` is a list-of-lists of data points, one list for each row. (Hint: this is possible with one line of code) (2 points)